<!doctype html>

<!--[if lt IE 7]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" xmlns:fb="http://ogp.me/ns/fb#" xmlns:addthis="http://www.addthis.com/help/api-spec"  prefix="og: http://ogp.me/ns#" class="no-js"><!--<![endif]-->

  <head>
  <%= erb :head %>

  <title>Our Story - Backcountry Delicatessen</title>

  </head>
  <body class="page page-id-6 page-template-default">

      <div id="container">

      <%= erb :admin_header %>

        <div id="content">

          <div id="inner-content" class="wrap clearfix">

              <div id="main" class="eightcol first clearfix" role="main">

                <article id="post-6" class="post-6 page type-page status-publish hentry clearfix" role="article" itemscope itemtype="http://schema.org/BlogPosting">
                  <form class = 'title' action= '/admin/our_story' method="POST">
                    Title:<br/>
                    <textarea name='our_story[title]' cols= "30" rows= "1">Our Story - Backcountry Deli</textarea>
                  </form>
                  <input type='submit'/>
                <header class="article-header">
                      <form class = 'header' action= '/admin/our_story' method="POST">
                        <p> Header:<br/>
                          <textarea name='our_story[header]' cols= "20" rows= "1">Our Story</textarea>
                      </form>
                      <input type='submit'/>
                    </p>
                </header> <!-- end article header -->

                  <section class="entry-content clearfix" itemprop="articleBody">
                    <p>
                      <form class = 'body' action= '/admin/our_story' method="POST">
                        <textarea name='our_story[body]' cols= "100" rows= "10">Take two fun-loving, yet seriously dedicated guys. Add passion for adventure in the great outdoors, and an equal amount of passion for natural, nutritious, great tasting food that can fuel their lifestyle. Throw in a heavy dose of community involvement. What do you get? Backcountry Delicatessen. That’s the recipe that Peter Boniface and David Pepin used to start it all in 1999 in downtown Steamboat Springs. Today, Backcountry Delicatessens are enjoyed in three additional vibrant and active communities — Jackson Hole, Fort Collins, and Denver. In every Backcountry Deli you visit, you’ll find the same commitment to Peter’s and David’s beginning principles — always natural and fresh ingredients, always the best fare they can make, always the best service they can provide. There’s more to the story of course. But all you need to know is Backcountry is the place to satisfy your hunger for great food and fuel your active life.</textarea>
                      </form>
                      <input type='submit'/>
                    </p>
                    <p>
                      <form class = 'header' action= '/admin/our_story' method="POST">
                        <textarea name='our_story[new_name_header]' cols= "35" rows= "1">New Name. Old Name. Same Commitment.</textarea>
                      </form>
                      <input type='submit'/>
                    </p>
                        <p>
                          <img class="alignleft size-full wp-image-482" alt="New Logo, Same Values" src="http://backcountry-deli.com/wp-content/uploads/2013/02/2logos.jpg" width="188" height="252" />
                          <form class = 'image_description' action= '/admin/our_story' method="POST">
                            <textarea name='our_story[image_description]' cols= "60" rows= "1">Backcountry Delicatessen was originally called Backcountry Provisions.</textarea>
                          <form>
                          <input type='submit'/>
                        </p>
                        <p>
                          <form class = 'body' action= '/admin/our_story' method="POST">
                            <textarea name='our_story[new_name_body]' cols= "70" rows= "7">Why? Because when we first opened, virtually every outdoor expedition in the Steamboat Springs region — whether skiing, cycling, rafting, or climbing — made sure to pack into their essential provisions the one thing that made a successful day of adventure certain. Backcountry Provisions fare! Today, we’re pleased to unveil a new name and look to better embody our continued commitment to you and adventurers of every kind.</textarea>
                          </form>
                          <input type='submit'/>
                        </p>
                </section> <!-- end article section -->

                  <footer class="article-footer"> </footer> <!-- end article footer -->

  <!-- You can start editing here. -->



    <!-- If comments are closed. -->
    <!--p class="nocomments">Comments are closed.</p-->




                </article> <!-- end article -->


              </div> <!-- end #main -->
                <div id="page_sidebar" class="sidebar">
      <div id="black-studio-tinymce-2" class="widget widget_black_studio_tinymce">
        <div class="textwidget">
          <p style="font-size: 17px; line-height: 21px;">
            <img class="alignnone size-full wp-image-422" alt="Dave-and-Pete-1999" src="http://backcountry-deli.com/wp-content/uploads/2013/02/Dave-and-Pete-1999.jpg" width="253" height="150" />
            <form class= 'image_description' action= '/admin/our_story' method = "POST">
              <textarea name="our_story[image_description1]" cols= "30" rows= '2'>Dave and Pete opening the Steamboat Springs Deli - circa 1999</textarea>
            </form>
          </p>
          <p style="font-size: 17px; line-height: 21px;">
            <img class="alignnone  wp-image-402" alt="BackcountryDeli-Skiing" src="http://backcountry-deli.com/wp-content/uploads/2013/02/BackcountryDeli-Skiing-e1364560089235-300x178.jpg" width="253" height="150" />
            <form class= 'image_description' action= 'admin/our_story' method = "POST">
              <textarea name="our_story[image_description3]" cols= "30" rows= '1'>The boys today kicking back</textarea>
            </form>
          </p>
          <p>
            <a href="http://backcountry-deli.com/wp-content/uploads/2013/02/BSD-Creed-small.png" >
              <img class="alignnone size-full wp-image-458" alt="BSD-Creed-small" src="http://backcountry-deli.com/wp-content/uploads/2013/02/BSD-Creed-small.png" width="253" height="363" />
            </a>
          </p>
          <p> </p>
        </div>
      </div>
    </div>

          </div> <!-- end #inner-content -->

        </div> <!-- end #content -->

      <%= erb :footer %>

      </div> <!-- end #container -->

      <!-- all js scripts are loaded in library/bones.php -->
      <%= erb :script %>
  <!--wp_footer-->
    </body>
</html>
