<footer class="footer" role="contentinfo">

  <div id="inner-footer" class="wrap clearfix">

    <div id="footer_buttons">

      <div class="facebook-foot">
        <a href="http://facebook.com/backcountrydeli"><img src="http://backcountry-deli.com/wp-content/themes/bones/library/images/facebook.png" alt="facebook" width="38" height="38" /></a>
      </div> <!-- facebook-foot -->
      <div class="mail-foot">
        <a href="/contact"><img src="http://backcountry-deli.com/wp-content/themes/bones/library/images/email.png" alt="email" width="38" height="38" /></a>
      </div> <!-- mail-foot -->

    </div> <!-- footer_buttons -->


<div id="black-studio-tinymce-7" class="footer-containers widget_black_studio_tinymce">			<div class="textwidget"><h2><a title="Denver, CO" href="/locations/denver-co/">Denver, CO</a></h2>
<p><span style="color: #000000;"><strong><a href="https://twitter.com/BCDdenver" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><span style="color: #000000;">Daily Specials &gt;</span></a></strong></span><a href="https://twitter.com/BCDdenver" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><img alt="foot-twitter" src="/wp-content/themes/bones/library/images/foot-twitter.png" width="27" height="26" /></a></p>
<div class="clearfix"> </div>
<p>303-534-7900</p>
<p>Mon - Fri 7 am - 6 pm<br />Sat - Sun 8 am - 6 pm</p>
<p>LoDo<br />1617 Wazee St<br />Denver, CO 80202</p></div>
</div><div id="black-studio-tinymce-8" class="footer-containers widget_black_studio_tinymce">			<div class="textwidget"><h2><a title="Fort Collins, CO" href="/locations/fort-collins-co/">Fort Collins, CO</a></h2>
<p><span style="color: #000000;"><strong><a href="https://twitter.com/BCDfortcollins" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><span style="color: #000000;">Daily Specials &gt;</span></a></strong></span><a href="https://twitter.com/BCDfortcollins" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><img alt="foot-twitter" src="/wp-content/themes/bones/library/images/foot-twitter.png" width="27" height="26" /></a></p>
<div class="clearfix"> </div>
<p>970-482-6913</p>
<p>Mon - Sun 7 am - 5 pm</p>
<p>Old Town<br />140 N College Ave<br />Fort Collins, CO 80524</p></div>
</div><div id="black-studio-tinymce-9" class="footer-containers widget_black_studio_tinymce">			<div class="textwidget"><h2><a title="Jackson Hole, WY" href="/locations/jackson-hole-wy/">Jackson Hole, WY</a></h2>
<p><span style="color: #000000;"><strong><a href="https://twitter.com/BCDjackson" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><span style="color: #000000;">Daily Specials &gt;</span></a></strong></span><a href="https://twitter.com/BCDjackson" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><img alt="foot-twitter" src="/wp-content/themes/bones/library/images/foot-twitter.png" width="27" height="26" /></a></p>
<div class="clearfix"> </div>
<p>307-734-9420</p>
<p>Mon - Sun 7 am - 5 pm</p>
<p>Town Square<br />50 W Deloney Ave<br />Jackson, WY 83001</p></div>
</div><div id="black-studio-tinymce-10" class="footer-containers widget_black_studio_tinymce">			<div class="textwidget"><h2><a title="Steamboat Springs, CO" href="/locations/steamboat-springs-co/">Steamboat Springs, CO</a></h2>
<p><span style="color: #000000;"><strong><a href="https://twitter.com/BCDsteamboat" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><span style="color: #000000;">Daily Specials &gt;</span></a></strong></span><a href="https://twitter.com/BCDsteamboat" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><img alt="foot-twitter" src="/wp-content/themes/bones/library/images/foot-twitter.png" width="27" height="26" /></a></p>
<div class="clearfix"> </div>
<p>970-879-3617</p>
<p>Mon - Sun 7 am - 5 pm</p>
<p>Old Town Square, Downtown<br />635 Lincoln Avenue <br />Steamboat Springs, CO 80487</p>
</br><p style="line-height: 1em;" ><span style="color: #333333; font-size:80%;">Branding &amp; Website by </span><a style="color: #333333; font-size:80%;" href="http://www.onetribecreative.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://www.onetribecreative.com']);" target="_blank">One Tribe Creative</a></span></p></div>
</div>


  </div> <!-- end #inner-footer -->

</footer> <!-- end footer -->
