<div class="foodmenu-right">
  <h1>Menu</h1>
  <div class="foodmenu-menu">
    <div class="menu-menu-container">
      <ul id="menu-menu" class="menu">
        <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="menu/hot_breakfast_sandwiches" >Hot Breakfast Sandwiches</a></li>
        <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-page-parent menu-item-57"><a href="menu/specialty_sandwiches" >Specialty Sandwiches</a></li>
        <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-49 current_page_item menu-item-59"><a href="menu/build_your_own_sandwich" >Build Your Own Sandwich</a></li>
        <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="/menu/other_food" >Salads, Soups, Sides, Drinks</a></li>
        <li id="menu-item-301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-301"><a href="/menu/catering-menu/" >Catering Menu</a></li>
        <!-- these two use pdfs? why? -->
        <li id="menu-item-562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-562"><a target="_blank" href="http://backcountry-deli.com/wp-content/uploads/2013/02/breakfast-lunch-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/breakfast-lunch-menu.pdf']);">Main Menu (PDF)</a></li>
        <li id="menu-item-563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-563"><a target="_blank" href="http://backcountry-deli.com/wp-content/uploads/2013/02/catering-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/catering-menu.pdf']);">Catering Menu (PDF)</a></li>
      </ul>
    </div>
  </div> <!-- foodmenu-menu -->
</div> <!-- foodmen-right -->
